<div class="card text-center pt-3 px-3 px-sm-5">
    <div id="titulo"> Nos conte um pouco mais sobre você </div>


    <!-- INPUTS -->
    <form class="text-left" [formGroup]="dataForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-6">
              <label for="selectedCall">Nome</label>
              <input class="form-control" formControlName="name" (input)="updated()">
            </div>
            <div class="col-6">
              <label for="selectedDestiny">Telefone</label>
              <input class="form-control" formControlName="phone" (input)="updated()">

            </div>
          </div>
        </div>
        <div class="col-sm-4 offset-sm-2">
          <label for="time">Como nos conheceu?</label>
          <select class="form-control" formControlName="knownFrom" (change)="updated()">
            <option *ngFor="let location of locations, let i = index" value="{{i}}">
              {{location.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="{{dataForm.get('knownFrom').valid ? 'invisible' : 'visible'}} text-right text-danger" style="line-height: 12px;">
        <small> Por favor, insira um tempo entre 1 e 600. </small>
      </div> 

      <label for="socialMedia">Possui alguma rede social?</label>
      <div class="btn-group-toggle" data-toggle="buttons">
        <div class="row">
          <label class="btn col-sm" *ngFor="let socialMedia of socialMedias">
            <input type="radio" name="socialMedia" formControlName="socialMedia" id="{{socialMedia.name}}" value="{{socialMedia.id}}" (change)="socialMediaSelected($event)"> {{socialMedia.name}}
          </label>
        </div>
      </div>
    </form>
    
    <img id='image' class="mt-5" src="assets/bottom-image.png" alt="Talk">
    
</div>